<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
input[type=text] {
    width: 500px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    /* background-image: url('searchicon.png'); */
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.7s ease-in-out;
}
input[type=text]:focus {
    width: 100%;
}
.front-page{
    background: url('https://images.unsplash.com/photo-1511690656952-34342bb7c2f2?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9&s=16f0055167b904922796ac61252fca72');
    background-size: cover;
    padding-bottom: 30%;
    height: 1000px;
}
.navbar{
    margin-bottom: 0px;
}
#search-label{
    margin-top: 0px;
    color: white;
}

.front-page{
    margin-bottom: 1000px;
}

/* .jumbtron1 {
    font: 23px "Play";
    margin-left: 20px;
    margin-bottom: 40px;
    padding-top: 30px;
    padding-bottom: 200px;

}

.jumbtron2 {
    font: 23px "Play";
    margin-left: 20px;
    padding-top: 30px;
    padding-bottom: 180px;
} */
</style>


<div class = "front-page">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="jumbtron1 text-center">
        <h2 id="search-label">Find the food you want to eat:  </h2>
        <br>
    </div>
    <div class="jumbtron2 text-center">
        <form>
            <input id="an_address" type="text" name="search" placeholder="Burrito, Salad etc ">
        </form>
        <br>
        <button id="getSchools" type="submit" class="btn btn-primary btn-lg"  >Submit</button>
    </div>
</div>

<--- https://stackoverflow.com/questions/35815840/displaying-images-in-a-handlebars-html --->
